<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keylogger</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        label {
            display: block;
            margin-bottom: 10px;
        }

             {
            margin-bottom: 20px;
        }

        #output {
            margin-top: 20px;
        }
        #inputText {
            width: 500px;
            height: 300px;
            resize: none; /* Disable textarea resizing */
        }
    </style>
</head>
<body>
        <div id="inputSection">
        <label for="inputText">Tracked Input:</label>
        <!-- Move the textarea to a different section of the page -->
        <textarea id="inputText"></textarea>

    </div>
    <div id="output"></div>
</body>
</html>
